openapi: 3.0.2
info:
  title: Health Fit
  description: API Documentation
  contact:
    name: BE
    email: altaBE@mail.com
  version: '1.0'
servers:
  - url: https://aaryadewangga.cloud.okteto.net:8080/{entity}
    variables:
      entity:
        default: users
        enum:
          - users
          - goals
          - user history
          - foods
          - menu
          - menu details
tags:
  - name: Users
    description: Users Resgister/Update/Delete
  - name: Goals
    description: Users Goals
  - name: User History
    description: User History of Foods/Goals
  - name: Foods
    description: Foods Methods
  - name: Menus
    description: Menu 
  - name: Menus Details
    description: Menu Detail 
paths:
  /users/register:
    post:
      summary: Register New Users
      tags:
        - Users
      description: Get a New Account
      requestBody:
        required: true
        description: Create Account with valid schema
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                gender:
                  type: string
                  enum:
                    - Pria
                    - Wanita
              example:
                name: test
                email: test@test.com
                password: test
                gender: Pria
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      user_uid: 
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      gender:
                        type: string
                        enum:
                          - Pria
                          - Wanita
                example:
                  code: 200
                  message: success to get new Account
                  data:
                    user_uid: jksfbkjfkjabruablnlab
                    name: test
                    email: test@test.com
                    gender: Pria
        '400':
          $ref: '#/components/responses/400'
  /users/login:
    post:
      tags:
        - Users
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: User terautorisasi
          content:
            application/json:
              schema:
                type: object
              example:
                code: 200
                message: Success login, get a new token
                data:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        '500':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                type: object
              example:
                code: 500
                message: There are something problem on server
                data:
  /users:
    get:
        summary: User Profile
        tags:
          - Users
        description: User Profile
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 200
                    message :
                      type: string
                      example: Success to get users profile
                    data:
                      type: object
                      properties:
                        user_uid:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                        password:
                          type: string
                          format: password
                        gender:
                          type: string
                          enum:
                            - Pria
                            - Wanita
                      example:
                          user_uid: jksfbkjfkjabruablnlab
                          name: test
                          email: test@test.com
                          gender: Pria
    put:
      summary: Update By ID
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/UserInput'
            example:
              name: Test Update
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                message: Success to Update User Data
        '204':
          $ref: '#/components/responses/204'
    delete:
      tags:
        - Users
      summary: delete user data
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SuccessSingleResponse'
              example:
                code: 200
                message: success to delete user data
  /foods:
    post:
      summary: Add / Create Foods Data
      tags:
        - Foods
      requestBody:
        required: true
        description: Create / Add Foods Data
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                calories:
                  type: integer
                category:
                  type: string
                  enum:
                    - fruit
                    - drink
                    - junk food
                    - food
                    - snack
                image :
                  type: string
              example:
                name: Soto Ayam
                calories: 244
                category: foods
                image: soto_images.jpg (image using form-data for uplaod)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      calories:
                        type: integer
                      category:
                        type: string
                        enum:
                          - fruit
                          - drink
                          - junk food
                          - food
                          - snack
                      image :
                        type: string
                example:
                  code: 201
                  message: sukses menambahkan foods baru
                  data:
                    id : 1
                    food_uid: kshefkaefk
                    name: Soto Ayam
                    calories: 244
                    category: foods
                    image: soto_images.jpg (image using form-data for uplaod)
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /foods/all:  
    get:
      summary: Get All Foods
      tags:
        - Foods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                             type: integer
                          name:
                            type: string
                          calories:
                            type: integer
                          category:
                            type: string
                            enum:
                              - fruit
                              - drink
                              - junk food
                              - food
                              - snack
                          image :
                            type: string
                example:
                    code: 200
                    message: success to get all foods
                    data:
                      - id : 1
                        food_uid: kshefkaefk
                        name: Soto Ayam
                        calories: 244
                        category: foods
                        image: soto_images.jpg (image using form-data for uplaod)
                      - id : 2
                        food_uid: kjnlvanlfwf
                        name: Nasi Campur
                        calories: 244
                        category: foods
                        image: nasi-campur_images.jpg (image using form-data for uplaod)
  /foods/{foods_uid}:
    get:
      summary: Get Foods by foods_uid
      tags:
        - Foods
      parameters:
        - name: id
          in: path
          description: Foods UID
          required: true
          schema:
            type: integer
      security:
         - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      calories:
                        type: integer
                      category:
                        type: string
                        enum:
                          - fruit
                          - drink
                          - junk food
                          - food
                          - snack
                      image :
                        type: string
                example:
                  code: 200
                  message: Berhasil mendapatkan data foods
                  data:
                    id : 1
                    food_uid: kshefkaefk
                    name: Soto Ayam
                    calories: 244
                    category: foods
                    image: soto_images.jpg (image using form-data for uplaod)
  /foods/{calories}:
    get:
      summary: Get Foods by foods calories
      tags:
        - Foods
      parameters:
        - name: calories
          in: path
          description: calories
          required: true
          schema:
            type: integer
      security:
         - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                             type: integer
                          name:
                            type: string
                          calories:
                            type: integer
                          category:
                            type: string
                            enum:
                              - fruit
                              - drink
                              - junk food
                              - food
                              - snack
                          image :
                            type: string
                example:
                    code: 200
                    message: success to get all foods
                    data:
                      - id : 3
                        food_uid: kshefkaefk
                        name: Nasi Goreng
                        calories: 244
                        category: foods
                        image: Nasi_images.jpg (image using form-data for uplaod)
                      - id : 6
                        food_uid: kjnlvanlfwf
                        name: Mie Ayam
                        calories: 143
                        category: foods
                        image: nasi-campur_images.jpg (image using form-data for uplaod)
    put:
      summary: Update Foods Data
      tags:
        - Foods
      parameters:
        - name: id
          in: path
          description: Foods UID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update Foods Data
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: integer
                calories:
                  type: string
              example:
                name: Bakso
                calories: 312 
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      calories:
                        type: integer
                      category:
                        type: string
                        enum:
                          - fruit
                          - drink
                          - junk food
                          - food
                          - snack
                      image :
                        type: string
                example:
                  code: 200
                  message: Berhasil mengupdate data foods
                  data:
                    id : 1
                    food_uid: kshefkaefk
                    name: Bakso
                    calories: 312
                    category: foods
                    image: soto_images.jpg (image using form-data for uplaod)
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Authorization Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
              example:
                  code: 401
                  message: Failed User Authorization
                  data:
    delete:
      summary: Delete Foods
      tags:
        - Foods
      parameters:
        - name: id
          in: path
          description: ID Rooms
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                code: 200
                message: success to delete foods
                data:
components:
  parameters:
    UserID:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    UserLogin:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      example:
        email: test@test.com
        password: test
    UserInput:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
    SuccessSingleResponse:
      type: object
      properties:
        code:
          type: integer
        success:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/UserInput'
  responses:
    '204':
      description: Failed to Update
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 204
              message:
                type: string
                example: No data for Update
              data:
                type: object
                example: 
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
            example:
              code: 400
              message: Invalid Input
              data:
    '401':
      description: Authorization Failed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 401
              success:
                type: boolean
                example: false
              message:
                type: string
                example: invalid Email or password
              data:
                type: object
                example:
                  token: {}
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
            example:
              code: 500
              message: Something Error on Server
              data:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT